/* 리셋파일로 다 초기화 된 상태라
수치를 하나하나 입력해줘야함 */


label {
  user-select: none;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, button{
  font-family: 'Pretendard';
}

.register_container {
  width: 640px;
  margin: 80px auto;
}

/* 상하를 80을 주고 좌우를 오토로  */

.register_title {
  text-align: center;
  margin-bottom: 44px;
  /* 이것도 재단한 수치값임 */
  color: #000;
  font-size: 21px;
  font-weight: 600;
}


.require {
  text-align: end;
  /* 맨끝으로 보내는 것  */
  margin-bottom: 7px;
  color: #333;
  font-size: 12px;
  font-weight: 600;
}


.require_mark {
  padding-left: 4px;
  padding-bottom: 10px;
}
/* 
그냥두면 글씨 옆으로 딱 달라붙기 때문에
위치값을 주는것 */

.line_bold {
  border: 1px solid rgb(51, 51, 51);
}

/* 구분선 */

.user_id_wrapper,
.user_password_wrapper,
.user_password_check_wrapper,
.user_name_wrapper,
.user_email_wrapper,
.user_phone_wrapper,
.user_address_wrapper,
.user_detail_address_wrapper,
.user_gender_wrapper,
.user_birth_wrapper,
.user_add_wrapper,
.user_agree_info_wrapper {
  display: flex;
  /* 플렉스를 주는 이유는 정렬하기가 쉬워서 */
  width: 100%;
  height: 84px;
  padding: 20px 4px;
  gap: 8px;
}

.user_address_wrapper {
  height: 107px;
}

/* 아래 텍스트가 들어가 잇어서 별도로
높이를 따로 지정해준것 */

.user_agree_info_wrapper {
  height: 296px;
}

.user_id_label,
.user_password_label,
.user_password_check_label,
.user_name_label,
.user_email_label,
.user_phone_label,
.user_address_label,
.user_gender_label,
.user_birth_label,
.user_add_label,
.user_agree_info_label {
  user-select: none;
  /* display: inline-block; */
  width: 140px;
  height: 44px;
  padding-left: 4px;
  line-height: 44px;
  /* 높이랑 라인 하이트가 숫치가 같으면 중앙정렬이 됨  */
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.user_id_input,
.user_password_input,
.user_password_check_input,
.user_name_input,
.user_email_input,
.user_phone_input {
  width: 290px;
  height: 44px;
  border: none;
  padding: 0px 20px;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  font-size: 16px;
  /* 미리보기 글자 사이즈용 */
  font-weight: 400;
  line-height: 25px;
}

.duplicate_id_btn,
.duplicate_email_btn,
.check_number_btn,
.check_address_btn {
  background: white;
  cursor: pointer;
  width: 143px;
  height: 44px;
  /* 높이는 전부 통일할 것  */
  border-radius: 4px;
  border: 1px solid #5f0080;
  color: #5f0080;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.search_address {
  display: flex;
  flex-direction: column;
  width: 332px;
}

.user_address_btn {
  cursor: pointer;
  background: white;
  height: 40px;
  /* 아래 글귀때문에 높이를 44가 아닌 40을 준 것 */
  border-radius: 4px;
  border: 1px solid #5f0080;
  color: #5f0080;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 24px;
}

/* 폰트사이즈도 전부 통일해줘야함 */

.user_address_wrapper p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

/* 여기서 말하는 p는 배송지에 따라~ 이부분임 */


.gender_radio_wrapper label,
.add_radio_wrapper label {
  /* user-select: none; */
  line-height: 44px;
  margin-right: 60px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}


/* #을 쓰는게 .보다 좀더 강력하므로
#으로 쓰는겁니당 */
/* +는 인접(나란하게)선택자로 나랑 같은 선상에 잇는 걸 지정할때 사용 */
#user_gender_male+label::before,
#user_gender_female+label::before,
#user_gender_none+label::before,
#user_add_friend+label::before,
#user_add_event+label::before {
  content: '';
  /* 비워두는 이유는 사진을 넣을거라서 */
  display: inline-block;
  /* 요소크기만큼만주면서 높이를 주기위해 인라인 블럭을 씀 */
  width: 24px;
  height: 24px;
  background: url('images/Radio.svg');
  background-size: cover;
  /* 24*24안에 가득 채우기 위해서 cover를 씀 */
  margin-right: 8px;
  vertical-align: -7px;
  /* 이건 버튼위치랑 글씨위치를 맞추기 위해서 주는것 */
  border: 1px solid white;
}

#user_gender_male:checked+label::before,
#user_gender_female:checked+label::before,
#user_gender_none:checked+label::before,
#user_add_friend:checked+label::before,
#user_add_event:checked+label::before {
  background-image: url('images/Radio-1.svg');
}

/* 백그라운드 이미지를 준 이유는
배경으로 주면 전체가 다 들어가기때문에
이미지라고 지정해서 바꾸려고 하는거임 */
/* 이건 이제 체크된 상태일때 바뀌는 사진임 */

.agree_all_label::before,
.agree_check label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('images/Check.svg');
  background-size: cover;
  margin-right: 8px;
  vertical-align: -7px;
  border: 1px solid white;
}

#agree_all:checked+div label::before,
#check_1:checked+div label::before,
#check_2:checked+div label::before,
#check_3:checked+div label::before,
#check_4:checked+div label::before {
  background-image: url('images/Checked.svg');
}

/* 이건 전체가 다 눌릴 수 잇는거라서
체크드 전체에 다 바뀌게 넣어준것 */


input[type='radio'][id^='user_gender']:focus+label::before,
input[type='radio'][id^='user_add']:focus+label::before,
input[type='checkbox']:focus+.agree_all label::before,
input[type='checkbox']:focus+.agree_check label::before {
  border: 1px solid black !important;
  border-radius: 5px;
}

.birth_box {
  display: flex;
  border-radius: 2px;
  border: 1px solid #a6a6a6;
}

.birth_box input {
  width: 110px;
  padding: 0;
  border: none;
  outline: none;
  /* 육안상 보이는 선을 다 지우려면 보더랑 아웃라인 둘다 none을 줘야함 */
  text-align: center;
}


.line_nomal {
  border-bottom: 0;
  height: 1px;
  background-color: #000;
}

.agree_info_wrapper {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.agree_check_box {
  display: flex;
  flex-direction: row;
  width: 429px;
  height: 51px;
  line-height: 51px;
  /* gap: 8px; */
}

.agree_all_label {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.agree_ckeck_btn {
  cursor: pointer;
  background: white;
  border: none;
  color: #5f0080;
  font-size: 12px;
  font-weight: 700;
  line-height: 5px;
}

.agree_all {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

/* 이건 전체동의합니다~ 이거고 */

.agree_all_text {
  padding-left: 32px;
  color: #898989;
  font-size: 12px;
  font-weight: 400;
  line-height: 19%;
}

/* 이건 선택항목에~ 이부분임 */


.agree_check {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.line_thin {
  border-bottom: 0;
  height: 1px;
  background: linear-gradient(to bottom, transparent 10%, currentColor 90%);
}
/* 그라디언트를 준건 선꾸<임 */
/* 중간선과 같은 1px인데 구분을 위해서 */


.join_btn_wrapper {
  text-align: center;
  margin: 40px 0;
}

.join_btn {
  cursor: pointer;
  width: 340px;
  height: 54px;
  border-radius: 4px;
  border: none;
  background: #5f0080;
  color: white;
  font-size: 16px;
  /* 1rem도 동일한 사이즈임 */
  font-weight: 600;
  line-height: 20px;
}

